extends layout

block content
 
  div(class="row")
    div(class="col-md-2" id="login")
      a(href="/" id="username") #{user}
      ul
        each i in labs
          li
            a(href="/?host=#{i.host}&port=#{i.port}") #{i.nome}

    div(class="col-md-10")
      if (list.length > 0 || inRoot > 0)
        table(class="table table-striped table-hover table-responsive")
          thead
            tr
              th(width=30)
              th Nome
              th Ações
          tbody
            if (inRoot > 0)
              tr
                td
                  img(src="/images/folder.png", alt="", width="20")
                td 
                  a(href="/?path=..") ..
                td
            each l, i in list
              if l.filename[0] != '.' && l.longname[0] == 'd'
                tr
                  td
                    img(src="/images/folder.png", alt="", width="20")
                  td 
                    a(href="/?path=#{l.filename}") #{l.filename}
                  td
            each l, i in list
              if l.filename[0] != '.' && l.longname[0] == '-'
                tr
                  td
                    img(src="/images/archive.png", alt="", width="20")
                  td #{l.filename}
                  td
      else
        h3 Selecione uma workspace